.toolbar1 {
    display: flex;
    align-items: center;
    background-color: #EEEAEA;
    color: black;
    padding: 15px;
    padding-left: 100px;
}

.toolbar1 p {
    font-size: 20px;
    font-weight: bold;   
}
