
.contato {
    text-transform: uppercase;
    font-family: roboto;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 1px #ababab;
    color: #0072BC;
}

.button-enviar {
    width: 10em;
    background-color: #003264;
    border: none;
}

.button-enviar:hover {
    background-color: #548ac0;
}

.button-enviar:focus {
    border: 1px solid #003264;
}

.forms {
    font-family: roboto;
}

.t-footer {
    background-color: #E4ECF0;
    border-radius: 30px;
    margin-top: 1em;
    max-width: 1700px;
    margin-bottom: 1em;
}

/* ANIMAÇÕES */

.content-img {
    display: flex;
    align-items: center;
}

.img-contato {
    width: 100%;
    height: 34rem;
    background-image: url(../../assets/img/115478-webdesign-support.gif);
    background-size: 100% 100%; /* Esticar a imagem para cobrir todo o espaço */
    background-repeat: no-repeat;
    border-radius: 8px;
}

.form-tp::-webkit-inner-spin-button { 
    -webkit-appearance: none;  
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (max-width: 991px) { 
    .content-img {
        display: none;
    }
}
