
<main id="main">
    <div class="container-fluid">
        <div class="container t-footer">
            <div class="row m-0 p-0">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 content-img">
                    <div class="img-contato"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 p-5">
                    <h4 id="contato" class="display-6 contato">CONTATE-NOS</h4>
                    <form class="row g-3 needs-validation forms" (ngSubmit)="onSubmit()" novalidate>
                        <div class="col-md-6">
                            <label for="validationCustom01" class="form-label">Nome:</label>
                            <input type="text" [(ngModel)]="contato.nome" name="Nome" class="form-control" id="validationCustom01" value="" required>
                            <div class="valid-feedback">
                                Concluído!
                            </div>
                            <div class="invalid-feedback">
                                Coloque um nome válido!
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="validationCustom02" class="form-label">Sobrenome:</label>
                            <input type="text" [(ngModel)]="contato.sobrenome" name="Sobrenome" class="form-control" id="validationCustom02"  value="" required>
                            <div class="valid-feedback">
                                Concluído!
                            </div>
                            <div class="invalid-feedback">
                                Coloque um sobrenome válido!
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="validationCustom02" class="form-label">Telefone:</label>
                            <input type="number" [(ngModel)]="contato.telefone" name="Telefone" class="form-control form-tp" placeholder="(__) _____-____" id="validationCustom02" value="" required>
                            <div class="valid-feedback">
                                Concluído!
                            </div>
                            <div class="invalid-feedback">
                                Coloque um telefone válido!
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="validationCustom03" class="form-label">Email:</label>
                            <input type="email" [(ngModel)]="contato.email" name="Email" class="form-control" id="validationCustom03" required>
                            <div class="valid-feedback">
                                Concluído!
                            </div>
                            <div class="invalid-feedback">
                                Coloque um email válido!
                            </div>
                        </div>
                        <div class="mb-3 col-md-12">
                            <label for="exampleFormControlTextarea1" class="form-label">Mensagem:</label>
                            <textarea class="form-control" [(ngModel)]="contato.mensagem" name="Mensagem" id="exampleFormControlTextarea1" rows="3"
                                placeholder="Escreva aqui o assunto..." required></textarea>
                            <div class="valid-feedback">
                                Concluído!
                            </div>
                            <div class="invalid-feedback">
                                Digite uma mensagem!
                            </div>
                        </div>
                        <div class="col-12 text-center hidden">
                            <button class="btn btn-primary button-enviar" type="submit" data-bs-toggle="modal"
                                data-bs-target="#exemploModal" target="_blank">Enviar</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>