.contato {
    text-transform: uppercase;
    font-family: roboto;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 1px #ababab;
    color: #0072BC;
}

.button-enviar {
    width: 10em;
    background-color: #003264;
    border: none;
}

.button-enviar:hover {
    background-color: #548ac0;
}

.button-enviar:focus {
    border: 1px solid #003264;
}

.forms {
    font-family: roboto;
}

.t-footer {
    background-color: #E4ECF0;
    border-radius: 30px;
    margin-top: 1em;
    max-width: 1700px;
    margin-bottom: 1em;
}

/* ANIMAÇÕES */

.content-img {
    display: flex;
    align-items: center;
}

.img-contato {
    width: 100%;
    height: 34rem;
    background-image: url(../../assets/img/115478-webdesign-support.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.form-tp::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.rectangle1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    height: 580px;
    background-color: #ccc;
    margin-top: 90px;
    margin-left: 25px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.2);
}

.rectangle1 p {
    text-align: center;
    font-size: 15px;
}

.rectangle1 h2 {
    margin-top: 25px;;
    margin-bottom: 5px;
    font-size: 25px;
}

.img4 {
    max-width: 280px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 6px;
}

.conteinerex {
    padding-top: 35px;
    background: #EBF6FF;
}

.spacer {
    height: 10px;
}

main {
    background-color: #EBF6FF;
    margin: 0;
    padding: 0;
    background-color: #EBF6FF;
    overflow-x: hidden;
}

.priceBasico {
    align-self: flex-end;
    margin-top: 50px;
}

.priceBasico p {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    color: #2259ff;
}

.pricePro {
    align-self: flex-end;
}

.pricePro p {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    color: #2259ff;
}

.pricePremium {
    align-self: flex-end;

}

.pricePremium p {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    color: #2259ff;
}

.tab-laranja {
    position: absolute; /* Adiciona o posicionamento necessário */
    background-color: orange; /* Cor de fundo laranja */
    color: white; /* Cor do texto */
    font-weight: bold; /* Texto em negrito */
    font-size: 15px;
    padding: 10px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    top: -39px; /* Ajusta a distância acima do retângulo */
    left: 0; /* Alinha a aba ao lado esquerdo do retângulo */
    width: 100%; /* Define a largura da aba para 100% do retângulo */
    height: 40px;
    border-radius: 10px 10px 0 0; /* Bordas superiores arredondadas */
}

/* Supondo que .rectangle1 seja o estilo de cada retângulo */
@media (max-width: 1060px) {
  .content-img {
      display: none;
  }

  .spacer {
      height: 40px;
  }

  .img4 {
      max-width: 300px;
      height: auto;
      display: block;
      margin: 0 auto;
      border-radius: 6px;
  }

  .container {
    display: flex;
    flex-direction: column; /* Garante que os retângulos fiquem um abaixo do outro */
    align-items: center;
    width: 100%; /* Garante que o contêiner ocupe toda a largura disponível */
}

  .rectangle1 {
    width: 90%; /* Ajuste a largura para ocupar quase toda a largura do contêiner */
    max-width: 500px; /* Define um limite máximo de largura para evitar que fique muito grande */
    margin-bottom: 20px; /* Espaçamento entre os retângulos */
    background-color: #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto; /* Garante que a altura se ajuste ao conteúdo */
}

  .rectangle1 p {
      text-align: center;
      margin-left: 15px;
      margin-right: 15px;
      font-size: 15px;
  }

  .rectangle1 h2 {
      margin-top: 50px;
      margin-bottom: 50px;
  }

  .priceBasico, .pricePro, .pricePremium {
      align-self: flex-end;
      margin-top: 50px;
  }

  .priceBasico p, .pricePro p, .pricePremium p {
      font-size: 25px;
      font-weight: bold;
      margin: 0;
      color: #2259ff;
  }

  .tab-laranja {
      position: absolute;
      background-color: orange;
      color: white;
      font-weight: bold;
      font-size: 20px;
      padding: 10px;
      text-align: center;
      top: -45px;
      left: 0;
      width: 100%;
      height: 50px;
      border-radius: 10px 10px 0 0;
  }
}

@media (max-width: 412px) {
  .img4 {
    max-width: 200px; /* Diminui a largura máxima da imagem */
    height: auto; /* Mantém a proporção */
  }
}

@media (max-width: 297px) {
  .img4 {
    max-width: 100px; /* Diminui a largura máxima da imagem */
    height: auto; /* Mantém a proporção */
  }
}


