.toolbar-nav {
    display: flex;
    align-items: center;
    background-color: #EBF6FF;
    color: white;
    font-weight: 600;
    width: 100%;
    box-sizing: border-box;
}

.nav1 {
    width: 50%;
    display: flex;
    align-items: center;
}

.nav2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 6rem;
    flex-grow: 1;
}

.img-nav {
    width: 15rem;
    background-size: contain;
    padding-left: 8rem;
}

.navbar {
    display: flex;
    width: 100%;
    background-color: #EEEAEA;
    border-radius: 8px 0px 0px 8px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 3px 4px 0px #888888;
    .link {
        color: black;
    }
}

.navbar a {
    text-decoration: none; 
    font-size: 20px;
    font-weight: bold;
}

.button {
    width: 6rem;
    border-radius: 8px;
    color: white;
    background-color: #0C57CF;
    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

@media (max-width: 1000px) { 
    .nav1{
        width: 30%;
    }
    .nav2 {
        width: 70%;
    }
    .img-nav {
        padding: 0;
        width: 5rem;
        margin-left: 4rem;
    }
}

@media (max-width: 770px) { 
    .nav1{
        width: 20%;
    }
    .nav2 {
        width: 80%;
    }
    .img-nav {
        padding: 0;
        width: 5rem;
        margin-left: 1rem;
    }
}

@media (max-width: 619px) { 
    .toolbar-nav {
        display: flex;
        align-items: center;
    }

    .nav1 {
        display: none;
    }
    .nav2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        .material-symbols-outlined {
            font-size: 50px !important;
        }
    }
    .menu-button {
        display: block;
    }
    .navbar {
        visibility: hidden;
        width: 100%;
        background-color: #EEEAEA;
        position: absolute;
        top: 6rem;
        left: 0;
        z-index: 1;
        box-shadow: 2px 3px 4px 0px #888888;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease-out, visibility 0s 0.5s;
    }
    
    .navbar.active {
        visibility: visible;
        max-height: 500px; /* Ajuste conforme necessário para a altura do conteúdo */
        transition: max-height 0.5s ease-in, visibility 0s;
    }
    
    
    .navbar a {
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        border-bottom: 1px solid #ccc;
    }
    .navbar a:last-child {
        border-bottom: none;
    }
}

