.toolbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav1 {
    width: 20%; /* Reduzi a largura da logo para evitar desalinhamento */
    display: flex;
    align-items: center;
}

.nav2 {
    width: 80%; /* O restante fica para os links */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 6rem;
    flex-grow: 1;
}

.img-nav {
    width: 10rem; /* Ajustei o tamanho da logo */
    background-size: contain;
    padding-left: 2rem; /* Reduzi o padding para centralizar melhor */
}

.navbar {
    display: flex;
    padding: 5px 0;
    width: 100%; /* Modifiquei para ocupar 100% da largura */
    margin: 0 auto;
    background-color: #EEEAEA;
    border-radius: 10px 10px 10px 10px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 3px 4px 0px #888888;
    margin-right: 200px;
}

.navbar a {
    text-decoration: none; 
    font-size: 30px;
}

.btn {
    height: 3.2rem;
    border-radius: 18px;
    color: white;
    background-color: #0C57CF;
    border: none;
    align-items: center;
    display: inline-block;
    cursor: pointer;
}

.menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

.nav-link {
    color: black; /* Cor preta para os links */
    text-decoration: none; /* Remove o sublinhado dos links */

    
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
    color: #5304f1; /* Um tom mais escuro quando o mouse passar por cima ou quando o link estiver focado */
    transition: color 0.3s ease; /* Transição suave na cor */
}

// @media (max-width: 1000px) { 
//     .nav1 {
//         width: 30%;
//     }
//     .nav2 {
//         width: 70%;
//     }
//     .img-nav {
//         padding: 0;
//         width: 5rem;
//         margin-left: 4rem;
//     }
// }

// @media (max-width: 770px) { 
//     .nav1 {
//         width: 20%;
//     }
//     .nav2 {
//         width: 80%;
//     }
//     .img-nav {
//         padding: 0;
//         width: 5rem;
//         margin-left: 1rem;
//     }
// }

@media (max-width: 1180px) { 
    .toolbar-nav {
        display: flex;
        align-items: center;
    }

    .img-nav {
        width: 95%;
        background-size: contain;
        padding-left: 2rem; /* Reduzi o padding para centralizar melhor */
    }
    .nav2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        .material-symbols-outlined {
            font-size: 50px !important;
        }
    }
    .menu-button {
        display: block;
    }
    .navbar {
        visibility: hidden;
        width: 100%;
        background-color: #EEEAEA;
        position: absolute;
        top: 6rem;
        left: 0;
        z-index: 1;
        box-shadow: 2px 3px 4px 0px #888888;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease-out, visibility 0s 0.5s;
        align-items: center;
    }
    
    .navbar.active {
        visibility: visible;
        max-height: 500px; /* Ajuste conforme necessário para a altura do conteúdo */
        transition: max-height 0.5s ease-in, visibility 0s;
        align-items: center;
    }
    
    .navbar a {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #ccc;
        align-items: center;
    }
    .navbar a:last-child {
        border-bottom: none;
    }
}

@media (max-width: 850px) { 
    .toolbar-nav {
        position: fixed;
        top: 0; /* Garante que a barra fique no topo da tela */
        left: 0; /* Garante que a barra comece do lado esquerdo da tela */
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        padding: 1px;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .img-nav {
        width: 6rem; /* Ajustei o tamanho da logo */
        background-size: contain;
    }

    .nav2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        .material-symbols-outlined {
            font-size: 40px !important;
        }
    }

    .navbar {
        visibility: hidden;
        width: 100%;
        background-color: #EEEAEA;
        position: absolute;
        top: 6rem;
        left: 0;
        z-index: 1;
        box-shadow: 2px 3px 4px 0px #888888;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease-out, visibility 0s 0.5s;
        align-items: center;
    }

    .navbar a {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #ccc;
        align-items: center;
        font-size: 15px;
    }

    .btn {
        height: 2rem;
        border-radius: 18px;
        color: white;
        background-color: #0C57CF;
        border: none;
        align-items: center;
        display: inline-block;
        cursor: pointer;
    }
}
