.whats img {
  cursor: pointer;
}

.whats {
  position: fixed; /* Fixa a imagem na tela */
  bottom: 20px; /* Distância do fundo da tela */
  right: 20px; /* Distância da direita da tela */
  z-index: 1000; /* Para garantir que a imagem fique acima de outros elementos */
}

.chat-container {
  position: fixed; /* Fixa o balão na tela */
  bottom: 90px; /* Distância do fundo da tela */
  right: 100px; /* Distância da direita da tela */
  width: 400px; /* Largura do balão */
  height: 600px; /* Altura fixa do balão */
  max-height: none; /* Remove a altura máxima */
  background: #f1f1f1; /* Cor de fundo do balão */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra para o efeito de profundidade */
  display: none; /* Inicialmente escondido */
  opacity: 0; /* Inicia invisível para animação */
  transform: translateY(10px); /* Começa levemente para baixo */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Animação suave */
  padding: 15px; /* Espaçamento interno */
  overflow-y: auto; /* Permite rolagem vertical se o conteúdo for muito grande */
  border: 2px solid #3b3a3a;
}

.chat-container.show {
  display: block; /* Exibe quando ativo */
  opacity: 1; /* Torna visível */
  transform: translateY(0); /* Move para sua posição original */
}


.chat-container.expanded {
  height: 400px; /* Altura expandida */
}

.chat-messages {
  max-height: 500px; /* Limite de altura para as mensagens */
  overflow-y: auto; /* Permite rolagem */
  padding: 10px; /* Espaçamento interno */
  font-size: 20px; /* Tamanho da fonte das mensagens */
}


.chat-input {
  position: absolute; /* Fixa a posição em relação ao contêiner do chat */
  bottom: 0; /* Coloca a caixa de entrada na parte inferior */
  left: 0; /* Alinha à esquerda do contêiner */
  right: 0; /* Alinha à direita do contêiner */
  display: flex; /* Exibe os itens da caixa de entrada em linha */
  background: #f1f1f1; /* Fundo da caixa de entrada */
  padding: 5px; /* Espaçamento interno */
  border-top: 1px solid #ddd; /* Linha acima da caixa de entrada */
  font-size: 20px;
}

.chat-input input {
  flex: 1; /* Faz o input ocupar todo o espaço disponível */
  padding: 10px; /* Aumenta o espaçamento interno */
  border: 1px solid #ccc; /* Adiciona uma borda ao input */
  border-radius: 4px; /* Arredonda os cantos */
  outline: none; /* Remove a borda de foco padrão */
  font-size: 20px; /* Tamanho da fonte do campo de entrada */
}

.chat-input button {
  padding: 10px 15px; /* Aumenta o espaçamento do botão */
  font-size: 16px; /* Tamanho da fonte do botão */
  background-color: #007bff; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto */
  border: none; /* Remove a borda padrão */
  border-radius: 4px; /* Arredonda os cantos */
  cursor: pointer; /* Muda o cursor ao passar o mouse */
  transition: background-color 0.3s; /* Suaviza a transição da cor */
}

.chat-messages strong {
  font-size: 20px; /* Tamanho da fonte do remetente */
  color: #333; /* Cor do texto do nome do remetente */
}

@media (max-width: 850px) { 
  .whats img {
    cursor: pointer;
    width: 50px; /* Ajuste a largura conforme necessário */
    height: 50px; /* Ajuste a altura conforme necessário */
  }

  .whats {
    position: fixed; /* Fixa a imagem na tela */
    bottom: 20px; /* Distância do fundo da tela */
    right: 20px; /* Distância da direita da tela */
    z-index: 1000; /* Para garantir que a imagem fique acima de outros elementos */
  }

  .chat-container {
    position: fixed; /* Fixa o balão na tela */
    bottom: 65px; /* Distância do fundo da tela */
    right: 65px; /* Distância da direita da tela */
    width: 280px; /* Largura do balão */
    height: 400px; /* Altura fixa do balão */
  }

  .chat-messages {
    position: fixed;
    max-height: 330px; /* Limite de altura para as mensagens */
    overflow-y: auto; /* Permite rolagem */
    padding: 10px; /* Espaçamento interno */
    font-size: 15px; /* Tamanho da fonte das mensagens */
  }

  .chat-messages strong {
    font-size: 15px; /* Tamanho da fonte do remetente */
    color: #333; /* Cor do texto do nome do remetente */
  }

  .chat-input button {
    padding: 1px 10px; /* Aumenta o espaçamento do botão */
    font-size: 15px; /* Tamanho da fonte do botão */
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda padrão */
    border-radius: 4px; /* Arredonda os cantos */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    transition: background-color 0.3s; /* Suaviza a transição da cor */
  }

  .chat-input input {
    flex: 1; /* Faz o input ocupar todo o espaço disponível */
    padding: 8px; /* Aumenta o espaçamento interno */
    border: 1px solid #ccc; /* Adiciona uma borda ao input */
    border-radius: 4px; /* Arredonda os cantos */
    outline: none; /* Remove a borda de foco padrão */
    font-size: 15px; /* Tamanho da fonte do campo de entrada */
  }

  .chat-input {
    position: absolute; /* Fixa a posição em relação ao contêiner do chat */
    bottom: 0; /* Coloca a caixa de entrada na parte inferior */
    left: 0; /* Alinha à esquerda do contêiner */
    right: 0; /* Alinha à direita do contêiner */
    display: flex; /* Exibe os itens da caixa de entrada em linha */
    background: #f1f1f1; /* Fundo da caixa de entrada */
    padding: 5px; /* Espaçamento interno */
    border-top: 1px solid #ddd; /* Linha acima da caixa de entrada */
    font-size: 15px;
  }
}