

.toolbar1 {
    font-size: 12px;
    display: flex;
    align-items: center;
    background-color: #EEEAEA;
    color: black;
    font-weight: 600;
}


.content {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    padding: 6.25rem;
}

.rectangle {
    width: 300px; /* Largura dos retângulos */
    height: 400px; /* Altura dos retângulos */
    background-color: #ccc; /* Cor de fundo cinza */
    margin-right: 50px; /* Espaçamento entre os retângulos */
    margin-top: 50px;
}

.rectangle h2 {
    margin: 5px 0;
    text-align: center;
}

.rectangle p {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 19px;
}

.content {
    margin-top: 6.25rem; /* Adicione o valor de margem desejado */
    margin-left: 6.25rem;
    margin-right: 6.25rem;
}

.content h1 {
    margin-left: 80px; /* Margem à esquerda */
    margin-right: 6.25rem; /* Margem à direita */   
    font-size: 35px;
    font-weight: bold;
}

.content p {
    margin-top: 50px;
    margin-left: 6.25rem; /* Margem à esquerda */
    margin-right: 10%; /* Margem à direita */
    font-size: 24px;
}

.img1 {
    max-width: 40%; /* Define a largura máxima da imagem como 100% */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Garante que a imagem se comporte como um bloco */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

.content2 {
    display: flex;
    align-items: center;
    margin-top: 6.25rem;
    padding: 20px 40px 20px 40px;
    background: #EBF6FF;
}

.content2 h1 {
    margin-left: 80px; /* Margem à esquerda */
    margin-right: 6.25rem; /* Margem à direita */   
    font-size: 35px;
    font-weight: bold;
}

.content2 p {
    margin-top: 50px;
    margin-left: 6.25rem; /* Margem à esquerda */
    margin-right: 10%; /* Margem à direita */
    font-size: 24px;
}

.info2 {
    display: flex;
}

.img2 {
    max-width: 100%; /* Define a largura máxima da imagem como 100% */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Garante que a imagem se comporte como um bloco */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

.img3 {
    max-width: 50%; /* Define a largura máxima da imagem como 100% */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Garante que a imagem se comporte como um bloco */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    margin-top: 25px;
    margin-bottom: 25px;
}

.img4 {
    max-width: 70%; /* Define a largura máxima da imagem como 100% */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Garante que a imagem se comporte como um bloco */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    margin-top: 25px;
    margin-bottom: 50px;
}