.scale-80 {
  transform: scale(0.65);
  transform-origin: top center;
  margin-top: 80px;
}

.container {
    display: flex;
    justify-content: center;
    padding-bottom: 6.25rem;
}

.rectangle {
    width: 300px;
    height: 480px;
    background-color: #ccc;
    margin-right: 50px;
    margin-top: 50px;
}

.rectangle h3 {
    margin: 5px 0;
    text-align: center;
}

.rectangle p {
    text-align: center;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 19px;
}

.rectanglef {
    width: 300px;
    height: 480px;
    background-color: #ccc;
    margin-top: 50px;
}

.rectanglef h3 {
    margin: 5px 0;
    text-align: center;
}

.rectanglef p {
    text-align: center;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 19px;
}

.rectangle1 {
    width: 400px;
    height: 480px;
    background-color: #ccc;
    margin-right: 50px;
    margin-top: 50px;
}

.rectangle1 h3 {
    margin: 5px 0;
    text-align: center;
}

.rectangle1 p {
    text-align: center;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 19px;
}

.rectanglef1 {
    width: 400px;
    height: 480px;
    background-color: #ccc;
    margin-top: 50px;
}

.rectanglef1 h3 {
    margin: 5px 0;
    text-align: center;
}

.rectanglef1 p {
    text-align: center;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 19px;
}

.img1 {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 6px;
}

.content1 {
    display: flex;
    align-items: center;
    margin-top: 6.25rem;
    padding: 100px 150px 100px 200px;
    background: #ffffff;
}

.content1 h1 {
    margin-left: 80px;
    margin-right: 6.25rem;
    font-size: 35px;
    font-weight: bold;
}

.content1 p {
    margin-top: 50px;
    margin-left: 6.25rem;
    margin-right: 10%;
    font-size: 24px;
}

.info1 {
    display: flex;
}

.content2 {
    display: flex;
    align-items: center;
    margin-top: 180px;
    padding: 100px 150px 100px 200px;
    background: #EBF6FF;
}

.content2 h1 {
    margin-left: 80px;
    margin-right: 6.25rem;
    font-size: 35px;
    font-weight: bold;
}

.content2 p {
    margin-top: 50px;
    margin-left: 6.25rem;
    margin-right: 10%;
    font-size: 24px;
}

.info2 {
    display: flex;
}

.img2 {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 6px;
}

.img3 {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 6px;
}

.img4 {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 50px;
    border-radius: 6px;
}

.whats {
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 9999;
}

.container1 {
    display: flex;
    justify-content: center;
    padding-bottom: 6.25rem;
}

.title h1{
    margin-top: 180px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.conteinerex {
    padding-top: 10px;
    background: #EBF6FF;
}

.contimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1560px) {
    .img1 {
        max-width: 70%;
        margin-bottom: 3rem;
    }
    .info1, .info2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .content1 {
        display: flex;
        align-items: center;
        font-size: 30px;
        margin-top: 0rem;
        padding: 90px 10px 0px 10px;
        background: #ffffff;
        h1 {
            text-align: center;
        }
    }

    .content2 {
        display: flex;
        align-items: center;
        font-size: 30px;
        margin-top: 0rem;
        padding: 90px 10px 0px 10px;
        background: #ffffff;
        h1 {
            text-align: center;
        }
    }
}


@media (max-width: 999px) {
    .img1 {
        max-width: 70%;
        margin-bottom: 3rem;
    }
    .info1, .info2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .content1 {
        display: flex;
        align-items: center;
        font-size: 30px;
        margin-top: 0rem;
        padding: 90px 10px 0px 10px;
        background: #ffffff;
    }

    .img2 {
        max-width: 70%;
        margin-bottom: 3rem;
    }

    .content1 p, .content2 p {
        font-size: 20px;
        margin: 70px;
        padding: 10px 10px 10px 10px;
    }

    .content2 {
        display: flex;
        align-items: center;
        font-size: 30px;
        margin-top: 0rem;
        padding: 90px 10px 0px 10px;
        background: #EBF6FF;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }

    .title h1{
        font-size: 30px;
        margin-top: 30px;
    }

    .title {
        padding: 30px 10px 10px 10px;
    }

    .container1 {
        display: flex;
        padding-top: 0px;
        flex-direction: column;
        align-items: center;
    }

    .rectanglef1, .rectangle, .rectanglef, .rectangle1, p{
        margin-right: 0px;
        margin-left: 0px;
    }
    .rectangle1, .rectanglef1 {
        width: 300px;
    }
    .contimg {
        display: flex;
        flex-direction: none;
        justify-content: none;
    }
}

@media (max-width: 700px) {
    .content1 h1, .content2 h1{
        text-align: center;
        margin: 0px;
        font-size: 35px;
        font-weight: bold;
    }
    .content1 p, .content2 p{
        font-size: 20px;
        margin: 0px;
        padding: 10px 10px 10px 10px;
    }
}
