<div class="content" role="main">
    <img
    class="img1"
    alt="Imagem"
    src="../assets/img/Estatistica.jpg"
    />
    <div>
      <h1>32% de todas as solicitações de agendamentos ocorrem fora do horário comercial</h1>
      <p>A maioria dos pacientes preferem interagir pelos aplicativos de trocas de mensagens quando não estão mais trabalhando, justamente nos momentos em que você e sua equipe estão descansando! </p>
    </div>
  </div>

  <div class="spacer" role="main" id="solucao"></div>
  
  <div class="content2" role="main">
    <div class="info2">
        <div>
            <img
            class="img2"
            alt="Imagem"
            src="../assets/img/UXtDaxxfernando-matsuhashi-workbook.png"
            />
        </div>
        <div>
            <h1>IClinicBot tem uma interação centralizada</h1>
            <p>Não importa por qual canal o paciente está interagindo, todas as conversas serão listadas em uma só tela, independente da origem. Clínicas e laboratórios terão todas as informações centralizadas em um só lugar. Economizando tempo e dinheiro.</p>
        </div>
    </div>
  </div>
  
  <div class="spacer" role="main" id="funcionalidade"></div>

  <div class="content1" role="main" style="margin-top: 200px; text-align: center;">
    <h1>Transforme seu nogócio com as funcionalidades do IClinicBot</h1>
  </div>
  
  <div class="container">
    <div class="rectangle">
      <img
      class="img3"
      alt="Imagem"
      src="../assets/img/Logo 1 - Fundo Branco.png"
      />
      <h2>Tire dúvidas</h2>
      <h2>frequentes</h2>
      <p>Com a Inteligência Artificial fica tudo mais fácil para responder aquelas perguntas mais frequentes dos pacientes.</p>
    </div>
    <div class="rectangle">
      <img
      class="img3"
      alt="Imagem"
      src="../assets/img/24 Horas.png"
      />
      <h2>Atendimento 24 horas</h2>
      <p>Transforme seu negócio com atendimento 24 horas por dia, possibilitando atender vários pacientes ao mesmo tempo.</p>
    </div>
    <div class="rectangle">
      <img
      class="img3"
      alt="Imagem"
      src="../assets/img/72mu6ia88h5lviri5mj.svg"
      />
      <h2>Agendamentos de Consultas e Exames</h2>
      <p>Agendar consultas e exames nunca foi tão simples. Agora, é possível acessar os resultados dos exames realizados diretamente na palma da sua mão.</p>
    </div>
  </div>

  <div class="spacer" role="main" id="cases"></div>
  
  <div class="content1" role="main" style="margin-top: 60px; text-align: center;">
    <h1>Depoimentos</h1>
  </div>
  
  <div class="container" role="main" style="margin-top: 100px; background-color: #EBF6FF;">
    <div class="rectangle">
      <img
      class="img4"
      alt="Imagem"
      src="../assets/img/Médica.jpg"
      />
      <p>“Com a IClinicBot não preciso mais me preocupar com o agendamento. Foco no que é mais importante.”</p>
    </div>
    <div class="rectangle">
      <img
      class="img4"
      alt="Imagem"
      src="../assets/img/Médico.jpg"
      />
      <p>“Nosso dia é muito corrido, depois dos serviços da IClinicBot, fico tranquilo, pois sei que meus pacientes estão sendo bem atendidos.”</p>
    </div>
    <div class="rectangle">
      <img
      class="img4"
      alt="Imagem"
      src="../assets/img/MedicoeMedica.png"
      />
      <p>“Nosso laboratório ficou muito mais completo com a IClinicBot, pois os resultados ficam a disposição 24 horas para nossos pacientes.”</p>
    </div>
  </div>
  
  
  <div class="toolbar1" role="banner" style="margin-top: 4%;">
    <div>
      <h2>© 2024 IClinicBot Tecnologia LTDA.</h2>
    </div>
  </div>