<div class="content" role="main">

  <div class="content1" role="main">
    <div class="info1">
      <div class="contimg">
        <img class="img1" alt="Imagem" src="../assets/img/Estatistica.jpg" />
      </div>
      <div>
        <h1>32% de todas as solicitações de agendamentos ocorrem fora do horário comercial</h1>
        <p>A maioria dos pacientes preferem interagir pelos aplicativos de trocas de mensagens quando não estão mais
          trabalhando, justamente nos momentos em que você e sua equipe estão descansando! </p>
      </div>
    </div>
  </div>
</div>

<div class="spacer" role="main" id="solucao"></div>

<div class="content2" role="main">
  <div class="info2">
    <div class="contimg">
      <img class="img2" alt="Imagem" src="../assets/img/UXtDaxxfernando-matsuhashi-workbook.png" />
    </div>
    <div>
      <h1>IClinicBot tem uma interação centralizada</h1>
      <p>Não importa por qual canal o paciente está interagindo, todas as conversas serão listadas em uma só tela,
        independente da origem. Clínicas e laboratórios terão todas as informações centralizadas em um só lugar.
        Economizando tempo e dinheiro.</p>
    </div>
  </div>
</div>

<div class="spacer" role="main" id="funcionalidade"></div>

<div>
  <div class="title" role="main">
    <h1>Transforme seu nogócio com as funcionalidades do IClinicBot</h1>
  </div>
  <div class="container">
    <div class="rectangle">
      <img class="img3" alt="Imagem" src="../assets/img/Logo 1 - Fundo Branco.png" />
      <h3>Tire dúvidas</h3>
      <h3>frequentes</h3>
      <p>Com a Inteligência Artificial fica tudo mais fácil para responder aquelas perguntas mais frequentes dos
        pacientes.</p>
    </div>
    <div class="rectangle">
      <img class="img3" alt="Imagem" src="../assets/img/24 Horas.png" />
      <h3>Atendimento 24 horas</h3>
      <p>Transforme seu negócio com atendimento 24 horas por dia, possibilitando atender vários pacientes ao mesmo
        tempo.</p>
    </div>
    <div class="rectanglef">
      <img class="img3" alt="Imagem" src="../assets/img/72mu6ia88h5lviri5mj.svg" />
      <h3>Agendamentos de Consultas e Exames</h3>
      <p>Agendar consultas e exames nunca foi tão simples. Agora, é possível acessar os resultados dos exames realizados
        diretamente na palma da sua mão.</p>
    </div>
  </div>
</div>

<div class="spacer" role="main" id="cases"></div>

<div class="conteinerex">
  <div class="title" role="main">
    <h1>Depoimentos</h1>
  </div>
  <div class="container" role="main">
    <div class="rectangle1">
      <img class="img4" alt="Imagem" src="../assets/img/Médica.jpg" />
      <p>“Com a IClinicBot não preciso mais me preocupar com o agendamento. Foco no que é mais importante.”</p>
    </div>
    <div class="rectangle1">
      <img class="img4" alt="Imagem" src="../assets/img/Médico.jpg" />
      <p>“Nosso dia é muito corrido, depois dos serviços da IClinicBot, fico tranquilo, pois sei que meus pacientes
        estão sendo bem atendidos.”</p>
    </div>
    <div class="rectangle1">
      <img class="img4" alt="Imagem" src="../assets/img/MedicoeMedica.png" />
      <p>“Nosso laboratório ficou muito mais completo com a IClinicBot, pois os resultados ficam a disposição 24 horas
        para nossos pacientes.”</p>
    </div>
  </div>
</div>


<!-- <div class="whats">
  <a href="https://wa.me/5514996566120">
    <img src="../assets/img/TesteIA.png" alt="Fale Conosco Pelo WhatsApp" width="85" />
  </a>
</div> -->
